[Unit]
Description=Automated login script for ShowCrewNetwork

[Service]
WorkingDirectory=%h/login-main
ExecStart=/bin/bash -c 'source %h/login-main/venv/bin/activate && %h/login-main/venv/bin/python %h/login-main/login.py'

[Install]
WantedBy=multi-user.target
