[Unit]
Description=Run ShowCrewNetwork login about every 30 minutes

[Timer]
OnCalendar=*:00,30
Persistent=true
RandomizedDelaySec=600
Unit=com.showcrewnetwork.login.service

[Install]
WantedBy=timers.target
