[Unit]
Description=Run ShowCrewNetwork login every hour

[Timer]
OnCalendar=hourly
Unit=com.showcrewnetwork.login.service
Persistent=true

[Install]
WantedBy=timers.target
