[Unit]
Description=Run ShowCrewNetwork login about every 30min
 [Timer]
OnCalendar=*:00,30
Persistent=trueRandomizedDelaySec=600
Unit=com.showcrewnetwork.login.service
 [Install]
WantedBy=timers.target
